.wholecarouselandcardcontainer{
    background-color: #f5f0f0;
    padding: 1px 0;
}
.mainContainerCarousel img {
    width: 100%;
    max-height: 50vh !important;
    object-fit: cover;
    border-radius: 10px;
}

.mainContainerCarousel {
    width: 95%;
    margin: 20px auto;
    cursor: move;
}

.mainContainerCarousel div {
    outline: none;
    /* filter: drop-shadow( 0 8px 20px rgba(0, 0, 0, 0.1)); */
}

.slick-prev,
.slick-next,
.slick-dots {
    display: block !important;
    z-index: 10;
}

.slick-prev::before,
.slick-next::before {
    font-size: 25px !important;
}

.slick-next {
    right: 8px !important;
}

.slick-prev {
    left: 2px !important;
}




/* --- Scrollable container --- */
.subCategoryContainer {
    display: flex;
    justify-content: center; 
    overflow-x: auto;
    scrollbar-width: none;  
    -ms-overflow-style: none;  
    gap: 20px;
    padding: 0 20px 20px 20px;
  }

  .subCategoryContainer p{
    margin-bottom: 0rem;
  }

  .subCategoryContainer img{
    width: 45%;
  }
  
  .subCategoryContainer::-webkit-scrollbar {
    display: none; 
  }
  
  .cardsContainer {
    min-width: 130px;
    max-width: 160px;
    padding: 16px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .cardsContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
    




  @media screen and (max-width: 1300px) {
    .subCategoryContainer {
        justify-content: flex-start;
      }
}